<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679636352165-n13fr7he9pf9qq7ajnr4u04a1p45ba2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679636352165-n13fr7he9pf9qq7ajnr4u04a1p45ba2f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>679636352165-9asdlchuvboc53b6qfl0ah4d9mbj98mt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjiRb9UZLA259IJuo0LoJ-0JtwE-TfrMU</string>
	<key>GCM_SENDER_ID</key>
	<string>679636352165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.okaythis.flutterokaydemo</string>
	<key>PROJECT_ID</key>
	<string>okaydemoandroid</string>
	<key>STORAGE_BUCKET</key>
	<string>okaydemoandroid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679636352165:ios:6adce83920e395630be14c</string>
	<key>DATABASE_URL</key>
	<string>https://okaydemoandroid.firebaseio.com</string>
</dict>
</plist>